<!DOCTYPE html  >
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="container">
    <div class="text-end">
        <a th:href="@{/produits/addform}"  class="btn btn-success fa fa-plus">Add Product</a>
    </div>
<div class="card">
    <div class="card-header">
        <form th:action="@{/produits/home}">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label >Mot Clé</label>
                </div>
                <div class="col-auto">
                    <input type="text"  name="mc" th:value="${mc}">
                </div>
                <button type="submit" class="btn btn-primary"><span class="fa fa-search"></span></button>
            </div>
        </form>
    </div>
    <div th:class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th>Image</th>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Quantite</th>
                <th>Categorie</th>
                <th>Actions</th>

            </tr>
            </thead>
            <tbody>

            <tr th:each="p:${products}">
                <td th:if="${p.img ==null || p.img==''}"><img src="/images/inconnu.jpg" width="50" height="50"></td>
                <td th:unless="${p.img ==null || p.img==''}" ><img th:src="@{${'/uploads/'+p.img}}" width="50" height="50"></td>

                <td th:text="${p.id}"></td>
                <td th:text="${p.nom}"></td>
                <td th:text="${p.prix}"></td>
                <td th:text="${p.quantite}"></td>
                <td th:text="${p.catp.nom}"></td>
                <td>
                    <a th:href="@{/produits/delete/{id}(id=${p.id})}" class="btn btn-danger fa fa-trash"></a>
                    <a th:href="@{/produits/update/{id}(id=${p.id})}" class="btn btn-warning fa fa-edit"></a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <ul class="nav nav-pills">
            <li th:each="i,c:${pages}">
                <a th:href="@{/produits/home(mc=${mc},page=${c.index})}"
                   th:text="${c.count}"
                 th:class="${current==c.index? 'btn btn-success mx-2':'btn btn-outline-success mx-2'}"></a>
            </li>
        </ul>
    </div>

</div>


</div>
</body>
</html>